<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Carrello Giochi</title>
<link rel="icon" type="image/png" href="/favicon1.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

<style>
img {
width: 20%;
}
tr,
td,
th
{
text-align: center;
}
</style>
</head>
<body>
<div class="container">
<h1 style="text-align: center;">Negozio di videogiochi</h1>
 <form action = "/buy" method = "post">
      <table>
        <thead>
          <tr>
              <th>Nome gioco</th>
              <th>Casa produttrice</th>
              <th>Data di rilascio</th>
              <th>Prezzo</th>
              <th>immagine</th>
          </tr>
        </thead>

<tbody>
  
  <tr th:each="gioco : ${listaG}">
    <td th:text="${gioco.nome}"></td>
    <td th:text="${gioco.casaPr}"></td>
    <td th:text="${gioco.dataRilascio}"></td>
    <td>€<span th:text="${gioco.prezzo}"></span></td>
    <td><img th:src="${gioco.url}" /></td>
    <td><input type = "number" name = "selected" value = "0"> </td>
  </tr>
  
  
</tbody>
      </table>
       <button style="width: 100%" class="btn waves-effect waves-light" type="submit" name="action">Compra</button>
      </form>
      </div>
</body>
</html>