<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Riepilogo Carrello</title>
<link rel="icon" type="image/png" href="/favicon1.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

<style>
img {
width: 20%;
}
tr,
td,
th
{
text-align: center;
}
</style>
</head>
<body>
<div class="container">
<h1>Recap dell'acquisto</h1>
      <table>
        <thead>
          <tr>
              <th>Nome gioco</th>
              <th>Casa produttrice</th>
              <th>Data di rilascio</th>
              <th>Prezzo</th>
              <th>immagine</th>
              <th>Qnt</th>
              <th>Subtotale</th>
          </tr>
        </thead>

<tbody>
  
 			    <tr th:each="gioco : ${listasub}">
                <td th:text="${gioco.nome}"></td>
                <td th:text="${gioco.casaPr}"></td>
                <td th:text="${gioco.dataRilascio}"></td>
                <td>€<span th:text="${gioco.prezzo}"></span></td>
                <td><img th:src="${gioco.url}"></td>
                <td th:text="${gioco.qnt}"></td>
                <td>€<span th:text="${gioco.prezzoSub}"></span></td>
  </tr>
  <tr>
    		  <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
              <th>Totale</th>
              </tr>
               <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>€<span th:text="${somma}"></span></td>
                </tr>
</tbody>
      </table>
      <a href="/"><- Torna al carrello</a>
      </div>
</body>
</html>